{% extends "layout.html.twig" %}

{% block headline %}
    {{ 'title.view_room'|trans() }}
{% endblock %}

{% block content_content %}
    <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd>{{ room.id }}</dd>

        <dt>{{ 'form.label.description'|trans() }}</dt>
        <dd>{{ room.description }}</dd>

        <dt>{{ 'form.label.price'|trans() }}</dt>
        <dd>{{ room.price }}</dd>

        <dt>{{ 'form.label.address'|trans() }}</dt>
        <dd>{{ room.address }}</dd>

        <dt>{{ 'form.label.city'|trans() }}</dt>
        <dd>{{ room.city }}</dd>

        <dt>{{ 'form.label.postal_code'|trans() }}</dt>
        <dd>{{ room.postalCode }}</dd>

        <dt>{{ 'form.label.phone'|trans() }}</dt>
        <dd><!--td>{% if room.phone %}{{ room.phone|phone_number_format('NATIONAL') }}{% endif %}</td--></dd>
    </dl>

    <a href="{{ path('danceschool_room_index') }}" class="btn btn-primary btn-sm" role="button">{{ 'button.go_to_index'|trans() }}</a>
{% endblock %}
