{% extends "::layout.html.twig" %}

{% block headline %}
    {{ 'title.list_students'|trans() }}
{% endblock %}

{% block content_content %}
<div>
    <a href="{{ path('danceschool_student_add') }}" class="btn btn-primary" role="button">{{ 'button.add'|trans({}) }}</a>
</div>
<div class="table-responsive">
    <table class="table table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th data-field="id" data-align="right" data-sortable="true">ID</th>
                <th data-field="name" data-align="right" data-sortable="true">{{ 'form.label.name'|trans() }}</th>
                <th data-field="lastname" data-align="right" data-sortable="true">{{ 'form.label.lastname'|trans() }}</th>
                <th data-field="email" data-align="right" data-sortable="true">{{ 'form.label.email'|trans() }}</th>
                <th data-field="comment" data-sortable="true">{{ 'form.label.comment'|trans() }}</th>
                <th data-field="show" data-sortable="false"></th>
                <th data-field="edit" data-sortable="false"></th>
                <th data-field="edit" data-sortable="false"></th>
                <th data-field="delete" data-sortable="false"></th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr class="tr-class-1">
                <td class="info">{{ student.id }}</td>
                <td>{{ student.user.name }}</td>
                <td>{{ student.user.lastname }}</td>
                <td>{{ student.user.email }}</td>
                <td>{{ student.comment }}</td>
                <td class="info"><a href="{{ path('danceschool_student_show', {'id': student.id }) }}" class="btn btn-default btn-xs" role="button">{{ 'button.view'|trans({}) }}</a></td>
                <td class="info"><a href="{{ path('danceschool_student_edit', {'id': student.id }) }}" class="btn btn-default btn-xs" role="button">{{ 'button.edit'|trans() }}</a></td>
                <td class="danger"><a href="{{ path('danceschool_student_remove', {'id': student.id }) }}" class="btn btn-danger btn-xs" role="button">{{ 'button.delete'|trans() }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
