{% extends "AppBundle::layout.html.twig" %}

{% trans_default_domain 'AppBundle' %}

{% block headline %}
    {{ 'title.list_students'|trans() }}
{% endblock %}

{% block content_content %}
<div>
    <a href="{{ path('danceschool_student_annotation_add', {'studentId': studentId}) }}" class="btn btn-primary" role="button">{{ 'button.add'|trans({}, 'AppBundle') }}</a>
</div>
<div class="table-responsive">
    <table class="table table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th data-field="id" data-align="right" data-sortable="true">ID</th>
                <th data-field="comment" data-sortable="true">{{ 'form.label.comment'|trans() }}</th>
                <th data-field="edit" data-sortable="false"></th>
                <th data-field="delete" data-sortable="false"></th>
            </tr>
        </thead>
        <tbody>
        {% for annotation in annotations %}
            <tr class="tr-class-1">
                <td class="info">{{ annotation.id }}</td>
                <td>{{ annotation.message }}</td>
                <td class="info"><a href="{{ path('danceschool_student_annotation_edit', {'studentId': annotation.student.id, 'annotationId': annotation.id }) }}" class="btn btn-default btn-xs" role="button">{{ 'button.edit'|trans() }}</a></td>
                <td class="danger"><a href="{{ path('danceschool_student_annotation_remove', {'studentId': annotation.student.id, 'annotationId': annotation.id }) }}" class="btn btn-danger btn-xs" role="button">{{ 'button.delete'|trans() }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
