{% extends "::layout.html.twig" %}

{% trans_default_domain 'AppBundle' %}

{% block headline %}
    {{ 'title.view_student'|trans() }}
{% endblock %}

{% block content %}
<div class="col-lg-9">
    <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd>{{ student.id }}</dd>

        <dt>{{ 'form.label.name'|trans() }}</dt>
        <dd>{{ student.user.name }}</dd>
        <dt>{{ 'form.label.surname'|trans() }}</dt>
        <dd>{{ student.user.surname }}</dd>
        <dt>{{ 'form.label.email'|trans() }}</dt>
        <dd>{{ student.user.email }}</dd>
        <dt>{{ 'form.label.gender'|trans() }}</dt>
        <dd>{{ student.user.gender }}</dd>
        <dt>{{ 'form.label.identity_number'|trans() }}</dt>
        <dd>{{ student.user.identityNumber }}</dd>
        <dt>{{ 'form.label.birthday'|trans() }}</dt>
        <dd>{{ student.user.birthday|date("d/m/Y") }}</dd>
        <dt>{{ 'form.label.phone'|trans() }}</dt>
        <dd>{{ student.user.phone }}</dd>
        <dt>{{ 'form.label.address'|trans() }}</dt>
        <dd>{{ student.user.address }}</dd>
        <dt>{{ 'form.label.city'|trans() }}</dt>
        <dd>{{ student.user.city }}</dd>
        <dt>{{ 'form.label.country'|trans() }}</dt>
        <dd>{{ student.user.country }}</dd>
        <dt>{{ 'form.label.postal_code'|trans() }}</dt>
        <dd>{{ student.user.postalCode }}</dd>


        <dt>{{ 'form.label.member'|trans() }}</dt>
        <dd>{{ student.member }}</dd>
        <dt>{{ 'form.label.comment'|trans() }}</dt>
        <dd>{{ student.comment }}</dd>
        <dt>{{ 'form.label.created'|trans() }}</dt>
        <dd>{{ student.user.created|date("d/m/Y H:i:s") }}</dd>
        <dt>{{ 'form.label.modified'|trans() }}</dt>
        <dd>{{ student.user.modified|date("d/m/Y H:i:s") }}</dd>
    </dl>

    <a href="{{ path('mayimbe_student_index') }}" class="btn btn-primary btn-sm" role="button">{{ 'button.go_to_index'|trans() }}</a>
    <a href="{{ path('mayimbe_student_edit', {'id': student.id }) }}" class="btn btn-default btn-sm" role="button">{{ 'button.edit'|trans() }}</a>
    <a href="{{ path('mayimbe_student_remove', {'id': student.id }) }}" class="btn btn-danger btn-sm" role="button">{{ 'button.delete'|trans() }}</a>
    <a href="{{ path('mayimbe_student_annotation_add', {'studentId': student.id }) }}" class="btn btn-default btn-sm" role="button">{{ 'button.add_annotation'|trans() }}</a>
    <a href="{{ path('mayimbe_student_annotations_index', {'studentId': student.id }) }}" class="btn btn-default btn-sm" role="button">{{ 'button.list_annotations'|trans() }}</a>
</div>
{% endblock %}