{% extends "AppBundle::layout.html.twig" %}

{% trans_default_domain 'AppBundle' %}

{% block headline %}
    {{ 'title.view_student'|trans() }}
{% endblock %}

{% block content_content %}
<dl class="dl-horizontal">
    <dt>ID</dt>
    <dd>{{ student.id }}</dd>

    <dt>{{ 'form.label.name'|trans() }}</dt>
    <dd>{{ student.user.name }}</dd>
    <dt>{{ 'form.label.lastname'|trans() }}</dt>
    <dd>{{ student.user.lastname }}</dd>
    <dt>{{ 'form.label.email'|trans() }}</dt>
    <dd>{{ student.user.email }}</dd>
    <dt>{{ 'form.label.gender'|trans() }}</dt>
    <dd>
        {% if student.User.gender == 'm' %}
            {{ 'form.gender.male'|trans }}
        {% else %}
            {{ 'form.gender.female'|trans }}
        {% endif %}
    </dd>
    <dt>{{ 'form.label.identity_number'|trans() }}</dt>
    <dd>{{ student.user.identityNumber }}</dd>
    <dt>{{ 'form.label.birthday'|trans() }}</dt>
    <dd>
        {% if student.user.birthday %}
            {{ student.user.birthday|date("d/m/Y") }}
        {% endif %}
    </dd>
    <dt>{{ 'form.label.phone'|trans() }}</dt>
    <dd>{{ student.user.phone }}</dd>
    <dt>{{ 'form.label.address'|trans() }}</dt>
    <dd>{{ student.user.address }}</dd>
    <dt>{{ 'form.label.city'|trans() }}</dt>
    <dd>{{ student.user.city }}</dd>
    <dt>{{ 'form.label.country'|trans() }}</dt>
    <dd>{{ student.user.country }}</dd>
    <dt>{{ 'form.label.postal_code'|trans() }}</dt>
    <dd>{{ student.user.postalCode }}</dd>


    <dt>{{ 'form.label.member'|trans() }}</dt>
    <dd>{{ student.member }}</dd>
    <dt>{{ 'form.label.comment'|trans() }}</dt>
    <dd>{{ student.comment }}</dd>
    <dt>{{ 'form.label.created'|trans() }}</dt>
    <dd>{{ student.user.created|date("d/m/Y H:i:s") }}</dd>
    <dt>{{ 'form.label.modified'|trans() }}</dt>
    <dd>{{ student.user.modified|date("d/m/Y H:i:s") }}</dd>
</dl>

<a href="{{ path('danceschool_student_index') }}" class="btn btn-primary btn-sm" role="button">{{ 'button.go_to_index'|trans() }}</a>
<a href="{{ path('danceschool_student_edit', {'id': student.id }) }}" class="btn btn-default btn-sm" role="button">{{ 'button.edit'|trans() }}</a>
<a href="{{ path('danceschool_student_remove', {'id': student.id }) }}" class="btn btn-danger btn-sm" role="button">{{ 'button.delete'|trans() }}</a>
<a href="{{ path('danceschool_student_annotation_add', {'studentId': student.id }) }}" class="btn btn-default btn-sm" role="button">{{ 'button.add_annotation'|trans() }}</a>

<div class="table-responsive">
    <table class="table table-striped table-hover table-condensed">
        <caption><h3>{{ 'title.annotations'|trans({}, 'AppBundle') }}</h3></caption>
        <thead>
        <tr>
            <th data-field="id" data-align="right" data-sortable="true">ID</th>
            <th data-field="message" data-sortable="true">{{ 'form.label.message'|trans({}, 'AppBundle') }}</th>
            <th data-field="created" data-sortable="true">{{ 'form.label.created'|trans({}, 'AppBundle') }}</th>
            <th data-field="modified" data-sortable="true">{{ 'form.label.modified'|trans({}, 'AppBundle') }}</th>
            <th data-field="edit" data-sortable="false"></th>
            <th data-field="delete" data-sortable="false"></th>
        </tr>
        </thead>
        <tbody>
        {% for annotation in annotations %}
            <tr class="tr-class-1">
                <td class="info">{{ annotation.id }}</td>
                <td>{{ annotation.message}}</td>
                <td>{{ annotation.created|date("d/m/Y H:i:s") }}</td>
                <td>{{ annotation.modified|date("d/m/Y H:i:s") }}</td>
                <td class="info"><a href="{{ path('danceschool_student_annotation_edit', {'studentId': annotation.student.id, 'annotationId': annotation.id }) }}" class="btn btn-default btn-xs" role="button">{{ 'button.edit'|trans({}, 'AppBundle') }}</a></td>
                <td class="danger"><a href="{{ path('danceschool_student_annotation_remove', {'studentId': annotation.student.id, 'annotationId': annotation.id }) }}" class="btn btn-danger btn-xs" role="button">{{ 'button.delete'|trans({}, 'AppBundle') }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
