{% extends "::layout.html.twig" %}

{% block headline %}
    View room
{% endblock %}

{% block content %}
<div class="col-lg-9">
    <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd>{{ student.id }}</dd>

        <dt>Name</dt>
        <dd>{{ student.user.name }}</dd>
        <dt>Surname</dt>
        <dd>{{ student.user.surname }}</dd>
        <dt>Email</dt>
        <dd>{{ student.user.email }}</dd>
        <dt>Username</dt>
        <dd>{{ student.user.username }}</dd>
        <dt>Gender</dt>
        <dd>{{ student.user.gender }}</dd>
        <dt>Identity number</dt>
        <dd>{{ student.user.identityNumber }}</dd>
        <dt>Birthday</dt>
        <dd>{{ student.user.birthday|date("d/m/Y") }}</dd>
        <dt>Phone</dt>
        <dd>{{ student.user.phone }}</dd>
        <dt>Address</dt>
        <dd>{{ student.user.address }}</dd>
        <dt>City</dt>
        <dd>{{ student.user.city }}</dd>
        <dt>Country</dt>
        <dd>{{ student.user.country }}</dd>
        <dt>Postal Code</dt>
        <dd>{{ student.user.postalCode }}</dd>


        <dt>Member</dt>
        <dd>{{ student.member }}</dd>
        <dt>Comment</dt>
        <dd>{{ student.comment }}</dd>
        <dt>Created</dt>
        <dd>{{ student.user.created|date("d/m/Y H:i:s") }}</dd>
        <dt>Modified</dt>
        <dd>{{ student.user.modified|date("d/m/Y H:i:s") }}</dd>
    </dl>

    <a href="{{ path('mayimbe_student_index') }}" class="btn btn-primary btn-sm" role="button">Go to Index</a>
    <a href="{{ path('mayimbe_student_edit', {'id': student.id }) }}" class="btn btn-default btn-sm" role="button">Edit room</a>
    <a href="{{ path('mayimbe_student_remove', {'id': student.id }) }}" class="btn btn-danger btn-sm" role="button">Delete student</a>
</div>
{% endblock %}