{% extends "::layout.html.twig" %}

{% block headline %}
    {{ 'title.view_course'|trans() }}
{% endblock %}

{% block content_content %}
    <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd>{{ course.id }}</dd>

        <dt>{{ 'form.label.name'|trans() }}</dt>
        <dd>{{ course.name }}</dd>

        <dt>{{ 'form.label.price'|trans() }}</dt>
        <dd>{{ course.price }}</dd>
    </dl>

    <a href="{{ path('danceschool_course_index') }}" class="btn btn-primary btn-sm" role="button">{{ 'button.go_to_index'|trans() }}</a>
{% endblock %}
