{% extends "::layout.html.twig" %}

{% block headline %}
    {{ 'title.view_room'|trans({}, 'AppBundle') }}
{% endblock %}

{% block content_content %}
    <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd>{{ room.id }}</dd>

        <dt>{{ 'form.label.description'|trans({}, 'AppBundle') }}</dt>
        <dd>{{ room.description }}</dd>

        <dt>{{ 'form.label.price'|trans({}, 'AppBundle') }}</dt>
        <dd>{{ room.price }}</dd>

        <dt>{{ 'form.label.address'|trans({}, 'AppBundle') }}</dt>
        <dd>{{ room.address }}</dd>

        <dt>{{ 'form.label.city'|trans({}, 'AppBundle') }}</dt>
        <dd>{{ room.city }}</dd>

        <dt>{{ 'form.label.postal_code'|trans({}, 'AppBundle') }}</dt>
        <dd>{{ room.postalCode }}</dd>

        <dt>{{ 'form.label.phone'|trans({}, 'AppBundle') }}</dt>
        <dd>{{ phone_number_format(room.phone, 'NATIONAL') }}</dd>
    </dl>

    <a href="{{ path('mayimbe_room_index') }}" class="btn btn-primary btn-sm" role="button">Go to Index</a>
    <a href="{{ path('mayimbe_room_edit', {'id': room.id }) }}" class="btn btn-default btn-sm" role="button">Edit room</a>
    <a href="{{ path('mayimbe_room_remove', {'id': room.id }) }}" class="btn btn-danger btn-sm" role="button">Delete room</a>
{% endblock %}