{% extends "::layout.html.twig" %}

{% block headline %}
    View room
{% endblock %}

{% block content_content %}
    <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd>{{ room.getId() }}</dd>

        <dt>Description</dt>
        <dd>{{ room.getDescription() }}</dd>

        <dt>Price</dt>
        <dd>{{ room.getPrice() }}</dd>

        <dt>Address</dt>
        <dd>{{ room.getAddress() }}</dd>

        <dt>City</dt>
        <dd>{{ room.getCity() }}</dd>

        <dt>Postal Code</dt>
        <dd>{{ room.getPostalCode() }}</dd>

        <dt>Phone number</dt>
        <dd>{{ room.getPhone() }}</dd>
    </dl>

    <a href="{{ path('mayimbe_room_index') }}" class="btn btn-primary btn-sm" role="button">Go to Index</a>
    <a href="{{ path('mayimbe_room_edit', {'id': room.id }) }}" class="btn btn-default btn-sm" role="button">Edit room</a>
    <a href="{{ path('mayimbe_room_remove', {'id': room.id }) }}" class="btn btn-danger btn-sm" role="button">Delete room</a>
{% endblock %}