<nav role="navigation" class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
    {% block brand %}
        <a class="navbar-brand" href="#">Navbar</a>
    {% endblock brand %}

    {% block toggle %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglernavbar-collapse"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    {% endblock toggle %}

    {% block menu_container %}
        <div id="navbarToggler" class="collapse navbar-collapse navbar-responsive-collapse">
            {% block menu %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            Inicio
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sala</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/admin/room/">Listado de salas</a>
                        </div>                    
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Curso</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/admin/course/">Listado de cursos</a>
                        </div> 
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profesor</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/admin/teacher/">Listado de profesores</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Alumno</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/admin/student/">Listado de alumnos</a>
                            <a class="dropdown-item" href="/admin/student/add">Añadir alumno</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown last">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Grupo</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/admin/group/">Listado de grupos</a>
                            <a class="dropdown-item" href="/admin/group/add">Añadir grupo</a>
                        </div>
                    </li>
                </ul>
            {% endblock %}
            {% block login_menu %}
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <!--div class="pull-right"-->
                <ul class="navbar-nav ml-auto">
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="loginDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user"></span>{{ app.user.username }} <b class="caret"></b>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="loginDropdown">
                            <div role="presentation" class="dropdown-header first">
                                <span>Opciones</span>
                            </div>
                            <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}"><span class="glyphicon glyphicon-user"></span>{{ 'menu.option.show_profile'|trans({}, 'messages') }}</a>
                            <a class="dropdown-item" href="{{ path('fos_user_profile_edit') }}"><span class="glyphicon glyphicon-cog"></span>{{ 'menu.option.edit_profile'|trans({}, 'messages') }}</a>
                            <a class="dropdown-item" href="{{ path('fos_user_change_password') }}"><span class="glyphicon glyphicon-cog"></span>{{ 'menu.option.change_password'|trans({}, 'messages') }}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">
                                <span class="glyphicon glyphicon-off"></span>{{ 'menu.option.logout'|trans }}
                            </a>
                        </div>
                    </li>
                </ul>
                <!--/div-->
                {% else %}
                <ul class="nav navbar-nav justify-content-end">
                    <li class="nav-item active dropdown">
                        <a class="nav-link" href="/login">
                            Login
                        </a>
                    </li>
                </ul>
                {% endif %}
            {% endblock login_menu %}
        </div>
    {% endblock menu_container %}
    </div>
</nav>