{% extends "AppBundle::layout.html.twig" %}
{% trans_default_domain 'AppBundle' %}

{% block headline %}
    {{ 'title.view_teacher'|trans({}, 'AppBundle') }}
{% endblock %}

{% block content %}
<div class="col-lg-9">
    <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd>{{ teacher.id }}</dd>

        <dt>{{ 'form.label.name'|trans }}</dt>
        <dd>{{ teacher.User.name }}</dd>
        <dt>{{ 'form.label.surname'|trans }}</dt>
        <dd>{{ teacher.User.surname }}</dd>
        <dt>{{ 'form.label.email'|trans }}</dt>
        <dd>{{ teacher.User.email }}</dd>
        <dt>{{ 'form.label.username'|trans }}</dt>
        <dd>{{ teacher.user.username }}</dd>
        <dt>{{ 'form.label.gender'|trans }}</dt>
        <dd>
            {% if teacher.User.gender == 'm' %}
                {{ 'form.gender.male'|trans }}
            {% else %}
                {{ 'form.gender.female'|trans }}
            {% endif %}
        </dd>
        <dt>{{ 'form.label.identity_number'|trans }}</dt>
        <dd>{{ teacher.User.identityNumber }}</dd>
        <dt>{{ 'form.label.birthday'|trans }}</dt>
        <dd>
            {% if teacher.User.birthday %}
                {{ teacher.User.birthday|date("d/m/Y") }}
            {% endif %}
        </dd>
        <dt>{{ 'form.label.phone'|trans }}</dt>
        <dd>{{ teacher.User.phone }}</dd>
        <dt>{{ 'form.label.address'|trans }}</dt>
        <dd>{{ teacher.User.address }}</dd>
        <dt>{{ 'form.label.city'|trans }}</dt>
        <dd>{{ teacher.User.city }}</dd>
        <dt>{{ 'form.label.country'|trans }}</dt>
        <dd>{{ teacher.User.country }}</dd>
        <dt>{{ 'form.label.postal_code'|trans }}</dt>
        <dd>{{ teacher.User.postalCode }}</dd>


        <dt>{{ 'form.label.wage'|trans }}</dt>
        <dd>{{ teacher.wage }}</dd>
        <dt>{{ 'form.label.comment'|trans }}</dt>
        <dd>{{ teacher.comment }}</dd>
        <dt>{{ 'form.label.created'|trans }}</dt>
        <dd>{{ teacher.User.created|date("d/m/Y H:i:s") }}</dd>
        <dt>{{ 'form.label.modified'|trans }}</dt>
        <dd>{{ teacher.User.modified|date("d/m/Y H:i:s") }}</dd>
    </dl>

    <a href="{{ path('mayimbe_teacher_index') }}" class="btn btn-primary btn-sm" role="button">{{ 'button.go_to_index'|trans }}</a>
    <a href="{{ path('mayimbe_teacher_edit', {'id': teacher.id }) }}" class="btn btn-default btn-sm" role="button">{{ 'button.edit'|trans }}</a>
    <a href="{{ path('mayimbe_teacher_remove', {'id': teacher.id }) }}" class="btn btn-danger btn-sm" role="button">{{ 'button.delete'|trans }}</a>
</div>
{% endblock %}
