{% extends 'base_theme.html.twig' %}

{% block title %}Dance School{% endblock %}
{% block headline %}{% endblock headline %}

{#% block navbar %}
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
{% endblock %}
#}

{% block navbar %}
    {% embed 'Theme/Navbar/navbar.html.twig' with { fixedTop: true, staticTop: true, inverse: true, id: 'navbar-body' } %}
        {% block brand %}
            <a class="navbar-brand" href="#">
                <img class="navbar-brand" height="25" style="padding:0" src="{{ asset('images/logo.png') }}" />
                Dance School
            </a>

        {% endblock %}

        {% block menu %}
            {{ knp_menu_render('main_menu') }}

            {#% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="pull-right">
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="/admin">Admin</a>
                    </li>
                    {% endif %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_profile_show') }}"><span class="glyphicon glyphicon-user"></span>{{ 'menu.option.show_profile'|trans({}, 'messages') }}</a></li>
                            <li><a href="{{ path('fos_user_profile_edit') }}"><span class="glyphicon glyphicon-cog"></span>{{ 'menu.option.edit_profile'|trans({}, 'messages') }}</a></li>
                            <li><a href="{{ path('fos_user_change_password') }}"><span class="glyphicon glyphicon-cog"></span>{{ 'menu.option.change_password'|trans({}, 'messages') }}</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">
                                <span class="glyphicon glyphicon-off"></span>{{ 'menu.option.logout'|trans }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                </div>
            {% else %}
                <div class="pull-right">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="/login">
                                Login
                            </a>
                        </li>
                    </ul>
                </div>
            {% endif %}
            #}
        {% endblock %}
    {% endembed %}
{% endblock navbar %}

{% block content_content %}
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock content_content %}
